[submodule "tools/bwa"]
	path = tools/bwa
	url = https://github.com/arun-sub/bwa.git
	branch = master
[submodule "tools/GKL"]
	path = tools/GKL
	url = https://github.com/arun-sub/GKL.git
	branch = pv_c_interface
[submodule "tools/bwa-mem2"]
	path = tools/bwa-mem2
	url = https://github.com/bwa-mem2/bwa-mem2.git
